.container {
    width: 1024px;
    margin: 25px auto;
    border-radius: 0 10px 10px 10px;
}
.GameCarts {
    display: grid;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.text {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}
.text h2 {
    color: #ffd369;
}

@media (max-width: 1024px) {
    .container {
        width: auto;
        margin: 10px auto;
    }
    .GameCarts {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    .text {
        width: auto;
    }
}
@media (max-width: 850px) {
    .container {
        width: auto;
        margin: 10px auto;
    }
    .GameCarts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   
}
@media (max-width: 620px) {
    .container {
        width: auto;
        margin: 10px auto;
    }
    .GameCarts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 425px) {
    .container {
        width: auto;
    }
    .GameCarts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
}