.container {
    width: 1024px;
    margin: 10px auto;
}
.container .title {
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
}

.title h2 {
    color: #ffd369;
}

.text {
    text-align: center;
    padding: 10px;
    color: #EEEEEE;
}

.btn {
    display: block;
    padding: 10px 15px;
    margin-top: 10px;
    color: #EEEEEE;
}

@media (max-width: 1024px) {
    .container {
        width: auto;
    }
}

@media (max-width: 768px) {
    .container {
        width: auto;
    }
}