.container {
    width: 1024px;
    margin: 15px auto;
    padding: 10px 10px 40px 10px;
    min-height: calc(100vh - 135px);
    background-color: #393E46;
    border-radius: 5px;
    position: relative;
}
.container .title {
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
}

.title h2 {
    color: #ffd369;
}

.text {
    text-align: center;
    padding: 10px;
    color: #EEEEEE;
}

.btn {
    display: block;
    padding: 10px 15px;
    margin-top: 10px;
    color: #EEEEEE;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
}
.btn:hover {
    color: #ffd369;
}

@media (max-width: 1024px) {
    .container {
        width: auto;
    }
}

@media (max-width: 768px) {
    .container {
        width: auto;
    }
}